.banner {
  .banner_content {
    background-color: #f8f9fa;
    text-align: center;
    padding: 3rem;
    margin: 3rem 0;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    button {
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      border-radius: 0.5rem;
      background-color: #0d6efd;
      color: white;
      &:hover {
        background-color: #0b5ed7;
      }
    }
  }
}
